NEXT_PUBLIC_AUTH_URL=http://localhost:8001
NEXT_PUBLIC_EARNINGS_URL=http://localhost:8002
NEXT_PUBLIC_ANOMALY_URL=http://localhost:8003
NEXT_PUBLIC_ANALYTICS_URL=http://localhost:8004
NEXT_PUBLIC_CERTIFICATE_URL=http://localhost:8005
NEXT_PUBLIC_GRIEVANCE_URL=http://localhost:8006
